.card-custom-team{
    min-height: 300px;
}
.card-custom-service{
    min-height: 600px;
}

@media screen and (max-width:1200px) {

    .card-custom-service{
        min-height: 700px;
    }
    
}

@media screen and (max-width:991px) {

    .card-custom-service{
        min-height: 600px;
    }
    
}