.header-custom {
    height: 90vh;
}

@media screen and (max-width:991px) {
    .header-custom {
        height: 50vh;
    }
}

@media screen and (max-width:575px) {
    .header-custom {
        height: 30vh;
    }
}

.header-contact{
    height: 100vh;
}