@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;300;400;500;600;700;800;900&family=Slackey&display=swap');

:root {
    --light-color: rgb(255, 238, 238);
    --dark-color: rgb(44, 44, 44);
    --first-color: #ded722;
    --second-color: #ff2600;
}

html,
body {
    height: 100%;
    position: relative;
}

body {
    font-family: 'Lexend Deca', sans-serif;
    background-color: var(--first-color);
    color: var(--dark-color);
}

#root {
    min-height: 100vh;
    position: relative;
    padding-bottom: 70px;
}

.font-logo{
    font-family: 'Slackey', cursive;
}

.btn-custom {
    background: var(--second-color);
    border-color: var(--second-color);
    border-radius: 50px;
    transition: 0.3s;
    font-family: 'Slackey', cursive;
    color: var(--light-color);
}

.btn-custom:hover {
    background: rgb(255, 38, 0);
    border-color: rgb(255, 38, 0);
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
    transition: 0.3s;
    color: var(--dark-color);
}

.btn-custom:focus {
    background: rgb(255, 38, 0);
    border-color: rgb(255, 38, 0);
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
}